.gallery {
    background-color: darkolivegreen;
    outline: 2px solid tomato;
}

.photo-card {
    outline: 2px solid rgb(184, 255, 71);
}
.info {
    outline: 2px solid rgb(117, 108, 106);
}
.info-item {
    outline: 2px solid rgb(46, 204, 231);
}